// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	padding-top: 30px;
    padding-left: 30px;
}

li {
    list-style-type: none;
}

li {
    display: inline;
}

ul {
    display: inline;
}

.brand {
    padding : 0;
    margin : 0;
}
