// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



ul {
    display: inline;
}

li {
    list-style-type: none
}

img.post-image {
    display: block;
    text-align: left;
    width: 100%;
    height: 600px;
}

.post-text {
    padding-left: 10%;
}

.post.panel {
    background: white;
    padding: 0;
    border: 1px solid ;
    border-color: rgba(0,0,0,.2);
}

div.post-container.panel {
    padding-top: 15%;
    margin: 0 auto;
    width: 55%;
    min-width: 460px;
}

