// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



ul {
    display: inline;
}

li {
    list-style-type: none
}

img.post-image {
    display: block;
    text-align: left;
    width: 600px;
    height: 600px;
    border: solid;
}

.post-text {
    padding-left: 10%;
}
